[Unit]
Description=openmrs hello world 
[Service]
User=openmrs
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/home/openmrs/openmrs-core/webapp

#path to executable.
#executable is a bash script which calls jar file
ExecStart=mvn jetty:run

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target