[Unit]
Description=flask hello world 
[Service]
User=flask
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/home/flask/flask

#path to executable.
#executable is a bash script which calls jar file
ExecStart=flask run -h 0.0.0.0

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target